@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/App.cshtml"; // Указываем, что используем главный шаблон
}

<body class="bg-success">
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 100%; max-width: 400px;">
        <div class="card-body">
            <h2 class="text-center">Register</h2>
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" name="email" required />
                        @if (ViewData.ModelState["Email"]?.Errors.Count > 0)
                        {
                            <span class="text-danger">@ViewData.ModelState["Email"]?.Errors[0].ErrorMessage</span>
                        }
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" class="form-control" name="password" required />
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" required />
                        @if (ViewData.ModelState["ConfirmPassword"]?.Errors.Count > 0)
                        {
                            <span class="text-danger">@ViewData.ModelState["ConfirmPassword"]?.Errors[0].ErrorMessage</span>
                        }
                </div>
                <div class="form-group text-center">
                        <input type="submit" value="Register" class="btn btn-success btn-block"/>
                </div>
            </form>
            <div class="text-center">
                <a asp-action="Login">Back to Login</a>
            </div>
        </div>
    </div>
</div>
</body>